@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
   This demonstrate how to integrate Browser ID to your ASP.NET MVC.
</p>
<p>
    To learn more about Browser ID, visit the following websites
    <ul>
        <li><a href="https://browserid.org/">Official website</a></li>
        <li><a href="https://github.com/mozilla/browserid/wiki/How-to-Use-BrowserID-on-Your-Site">How to Use BrowserID on Your Site</a></li>
        <li><a href="http://lloyd.io/how-browserid-works">How BrowserID Works</a></li>
    </ul>
</p>
<p>
    - By <a href="http://www.rajeeshcv.com">Rajeeesh</a>
</p>



